<br><br>
<div *ngIf="type == 1 || type == 2">
    <span>
        <span>Rechercher par libellé : </span>
        <input type="text" 
        [(ngModel)]="searchByLibelle"
        (keyup)="handleSearchByLibelle()">
    </span>
    <span>
        <span> Rechercher par filière : </span>
        <input type="text" [(ngModel)]="searchByFiliere"
        (keyup)="handleSearchByFiliere()">
    </span>
    <span  *ngIf="type == 2">
        <span> Rechercher par formateur : </span>
        <input type="text" [(ngModel)]="searchByFormateur"
        (keyup)="handleSearchByFormateur()">
    </span>
</div>

<br>
<table class="table table-bordered">
    <thead>
        <tr>
        <th>Module</th>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Filiere</th>
        <th>Formateur</th>
        <th *ngIf="type == 2 || type==1">nombre de Stagiaires</th>
        <th *ngIf="type == 2">Actions</th>
        </tr>
    </thead>
    <tbody 
    *ngFor="let module of foundModules">
        <tr>
        <td>{{ module.libelle }}</td>
        <td>{{ module.dateDebut }}</td>
        <td>{{ module.dateFin }}</td>
        <td>{{ module.filiere?.libelle }}</td>
        <td>{{ module.formateur?.prenom }} {{ module.formateur?.nom }}</td>
        <td>{{ module.nbStagiaires }}</td>
        <td *ngIf="type == 2">
            <button (click)="handleClick(module)"
                    onclick="alert('Le module a été supprimé')">Supprimer</button>
        </td>
        </tr>
    </tbody>
</table>
