<div class="card">

  <div class="card-body">
    <h1 class="card-title">Projet Final Spring Angular</h1>
    <br>
  </div>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo 
    <a class="navbar-brand" href="#">
      <img src="bird.jpg" alt="logo" style="width:40px;">
    </a>-->
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/inscription']">Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/module/gestion']">Modules</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Filières</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  
</div>


