<br><br>
<form [formGroup]="inscriptionForm" #f="ngForm" novalidate>
    <div *ngIf="hidden !== true">
        <table class="table table-striped table-hover">
            <tr>
                <td>
                    <label>
                        Nom:
                        <input class="form-control" type="text" formControlName="lastname" />
                        <div *ngIf="inscriptionForm.controls['lastname'].invalid && (inscriptionForm.controls['lastname'].dirty || inscriptionForm.controls['lastname'].touched)" class="alert alert-danger">
                            Un nom est nécessaire.
                        </div>
                    </label>
                </td>
                <td>
                    <label>
                        Prenom:
                        <input class="form-control" type="text" formControlName="firstname" />
                        <div *ngIf="inscriptionForm.controls['firstname'].invalid && (inscriptionForm.controls['firstname'].dirty || inscriptionForm.controls['firstname'].touched)" class="alert alert-danger">
                            Un prénom est nécessaire.
                        </div>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        Adresse mail:
                        <input class="form-control" type="email" formControlName="mail" />
                        <div *ngIf="inscriptionForm.controls['mail'].invalid && (inscriptionForm.controls['mail'].dirty || inscriptionForm.controls['mail'].touched)" class="alert alert-danger">
                            Un mail valide est nécessaire.
                        </div>
                    </label>
                </td>
                <td>
                    <label>
                        Téléphone:
                        <input class="form-control" type="text" formControlName="phone" />
                        <div *ngIf="inscriptionForm.controls['phone'].invalid && (inscriptionForm.controls['phone'].dirty || inscriptionForm.controls['phone'].touched)" class="alert alert-danger">
                            Un téléphone est nécessaire.
                        </div>
                    </label>
                </td>
            </tr>
            <tr>
                <td>           
                    <label>
                        Date de naissance:
                        <input class="form-control" type="date" formControlName="birthday"/>
                        <div *ngIf="inscriptionForm.controls['birthday'].invalid && (inscriptionForm.controls['birthday'].dirty || inscriptionForm.controls['birthday'].touched)" class="alert alert-danger">
                            Une date de naissance est nécesaire.
                        </div>
                    </label>
                </td>
                <td>
                    <label>
                        Lieu de résidence:
                        <input class="form-control" type="text" formControlName="address"/>
                        <div *ngIf="inscriptionForm.controls['address'].invalid && (inscriptionForm.controls['address'].dirty || inscriptionForm.controls['address'].touched)" class="alert alert-danger">
                            Une adresse est nécesaire.
                        </div>
                    </label>
                </td>
            </tr>
        </table>

        <br>
        Formation que vous souhaitez suivre:
        <span *ngIf="filieres?.length === 0">Aucun filière proposée pour le moment</span>
        <span *ngIf="filieres?.length !== 0">
            <select>
                Filière:
                <option *ngFor="let filiere of filieres" forControlName="filiere">
                    {{ filiere.libelle}}
                </option>
            </select>
        </span>
        <br>

        <br>
        <button [disabled]="inscriptionForm.pristine || inscriptionForm.invalid" type="submit" class="btn btn-sm btn-primary m-1" (click)="inscription()">Valider l'inscription</button>
    </div>
</form>

<div *ngIf="f.valid && inscriptionForm.dirty && hidden">
    <p>Inscription réussie !</p>
    <p>
        <span>Votre identifiant: {{ utilisateur.id}} et votre mot de passe: {{ utilisateur.password }} à utiliser pour votre 1ère connexion.</span>
        <!--
            <a ">Connexion</a>
        -->
    </p>
</div>



